{% extends "layout.html" %} {% block title %}{{content["page_title"][lang]}}{%
endblock %} {% block body %}

<div id="messages">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category in
    ["error", "success"] %}
    <div id="message" class="message {{ category }}">{{ message }}</div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
</div>
<div id="books">
    <div class="source-list">
        {% for source in sources %}
        <article
            class="source"
            onclick="fetchSourceDetails({{ source.source_id }})"
        >
            <div class="info">
                <div class="top-row">
                    <div id="title-{{ loop.index0 }}" class="title">
                        {{ source.title }}
                    </div>
                    <div id="key-{{ loop.index0 }}" class="key">
                        {{ source.bibtex_key }}
                    </div>
                </div>
                <div id="author-{{ loop.index0 }}" class="author">
                    {{ source.author }}
                </div>
                <div id="year-{{ loop.index0 }}" class="year">
                    {{ source.year }}
                </div>
                <div class="tags">
                    {% for tag in source.tags %}
                    <div class="tag">
                        {{ tag }}
                        <form
                            action="/delete_tag/{{source.source_id}}/{{tag}}"
                            method="POST"
                        >
                            <button class="delete" type="submit" onclick="event.stopPropagation()">
                                <i class="fa-solid fa-x"></i>
                            </button>
                        </form>
                    </div>
                    {% endfor %}
                    <button
                        class="add-tag"
                        onclick="event.stopPropagation(); showAddTagForm({{source.source_id}})"
                    >
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div class="buttons">
                    <button type="submit" class="edit" id="edit-source-btn"
                        onclick="event.stopPropagation(); window.location.href = '/edit/{{source.source_id}}'"
                    >
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <form
                        action="{{ url_for('delete_source', source_id=source.source_id) }}"
                        method="POST"
                        onsubmit="return confirmDelete()"
                    >
                        <button
                            type="submit"
                            class="delete"
                            id="delete-source-btn"
                            onclick="event.stopPropagation()"
                        >
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        </article>
        {% else %}
        <div class="text-disabled">Ei lähteitä.</div>
        {% endfor %}
    </div>
</div>

<button id="add-source-btn" class="circle" title="{{content["add_source"][lang]}}">
    <i class="fa-solid fa-plus"></i>
</button>

<form
    action="/"
    method="POST"
    id="add-source-form"
    class="modal-form {% if show_add_form %}show{% endif %}"
>
    <div class="inner">
        <div class="top-row">
            <h2>{{content["add_source"][lang]}}</h2>
            <button class="close" type="button">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>

        <div class="content">
            <label for="add-field-type">Tyyppi</label>
            <select name="kind" id="add-field-type">
                <option value="book">{{content["book"][lang]}}</option>
                <option value="article">{{content["article"][lang]}}</option>
                <option value="inproceedings">{{content["inproceedings"][lang]}}</option>
            </select>

            <div id="add-form-fields"></div>

            <button type="submit" id="source-form-btn" class="btn primary">
                {{content["add"][lang]}}
            </button>
        </div>
    </div>
</form>

<form action="/tag" method="POST" id="add-tag-form" class="modal-form">
    <div class="inner">
        <div class="top-row">
            <h2>{{content["add_tag"][lang]}}</h2>
            <button class="close" type="button">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>

        <div class="content">
            <label for="tag-name">{{content["name"][lang]}}</label>
            <input type="text" id="tag-name" name="name" placeholder="{{content["name"][lang]}}" />

            <input
                type="hidden"
                name="source_id"
                value=""
                id="add-tag-source-id"
            />

            <button type="submit" id="tag-form-btn" class="btn primary">
                {{content["add"][lang]}}
            </button>
        </div>
    </div>
</form>

<div id="source-details-modal" class="modal-form">
    <div class="inner">
        <div class="top-row">
            <h2 id="modal-title">{{content["source_info"][lang]}}</h2>
            <button class="close" type="button" onclick="closeSourceDetails()">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
        <div id="modal-content" class="content"></div>
    </div>
</div>

<script>
    const formFields = JSON.parse(`{{form_json|safe}}`);
    const content = JSON.parse(`{{content_json|safe}}`);
    const lang = `{{lang}}`;
    let savedFields = JSON.parse(`{{saved_fields_json|safe}}`);
</script>

<script>
    function confirmDelete() {
        return confirm('Poistetaanko lähde?');
    }

    async function fetchSourceDetails(sourceId) {
        const ignoreFields = ["stringify_ignore_fields"];
        const response = await fetch(`/source/${sourceId}`);
        if (!response.ok) throw new Error('Failed to fetch source details');
        const sourceDetails = await response.json();

        const modalContent = document.getElementById('modal-content');
        modalContent.innerHTML = '';

        for (const [key, value] of Object.entries(sourceDetails)) {
            if(ignoreFields.includes(key)) continue;
            const detail = document.createElement('div');

            let keyText = key;

            const entry = content[key];
            if (entry) {
                keyText = entry[lang] ?? key;
            }

            detail.innerHTML = `<strong>${keyText}:</strong> ${value}`;
            modalContent.appendChild(detail);
        }

        document.getElementById('source-details-modal').classList.add('show');
    }

    function closeSourceDetails() {
        document
            .getElementById('source-details-modal')
            .classList.remove('show');
    }
</script>
<script src="{{ url_for('static',filename='index.js') }}"></script>

{% endblock %}
