<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='main.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='index.css') }}"
        />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <li>
                <a href="/download"><i class="fa-solid fa-download"></i></a>
            </li>
            <li>
                <form
                    action="/"
                    id="filter-by-tag-form"
                    method="GET"
                >
                    <label for="filtered-tag">{{content["tag"][lang]}}: </label>
                    <input 
                    type="text"
                    id="filtered-tag"
                    name="filtered-tag"
                    />
                    <button
                        type="submit"
                        id="filter-by-tag-btn"
                        class="btn primary"
                    >
                        {{content["filter"][lang]}}
                    </button>
                </form>
            </li>
            <li>
                <a href="/language" id="language-toggle"
                    ><img
                        src="{{ url_for('static',filename='/flag/') }}{{lang}}.svg"
                        alt="Language icon"
                /></a>
            </li>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
